# Explore here

In [1]:
# Your code here

import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-means-project-tutorial/main/housing.csv')

df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [7]:
df_2 = df[['MedInc','Latitude','Longitude']]

df_2

       MedInc  Latitude  Longitude
0      8.3252     37.88    -122.23
1      8.3014     37.86    -122.22
2      7.2574     37.85    -122.24
3      5.6431     37.85    -122.25
4      3.8462     37.85    -122.25
...       ...       ...        ...
20635  1.5603     39.48    -121.09
20636  2.5568     39.49    -121.21
20637  1.7000     39.43    -121.22
20638  1.8672     39.43    -121.32
20639  2.3886     39.37    -121.24

[20640 rows x 3 columns]

In [8]:
# hacer el train test split

from sklearn.model_selection import train_test_split

# no hay que pasat "y"

X_train, X_test, _,_ = train_test_split(df_2,_,test_size=0.2,random_state=42)

In [12]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters=6, random_state=42)

X_train['Cluster'] = model.fit_predict(X_train)

X_train

       MedInc  Latitude  Longitude  Cluster
14196  3.2596     32.71    -117.03        3
8267   3.8125     33.77    -118.16        1
17445  4.1563     34.66    -120.48        1
14265  1.9425     32.69    -117.11        3
2271   3.5542     36.78    -119.80        5
...       ...       ...        ...      ...
11284  6.3700     33.78    -117.96        2
11964  3.0500     34.02    -117.43        3
5390   2.9344     34.03    -118.38        3
860    5.7192     37.58    -121.96        0
15795  2.5755     37.77    -122.42        5

[16512 rows x 4 columns]